body{
  font-family: 'Noto Sans', sans-serif;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); /*background gradient*/
  background-size: 400% 400%; /*makes background large enough to be animatable*/
  animation: Gradient 15s ease infinite; /*gradient animation*/
}

@keyframes Gradient{ /*gradient animation*/
	0%   {background-position: 0% 50%}
	50%  {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

.sidenav{ /*menu pane*/
  height: 100%; /*pane fills site verticly*/
  width: 0%; /*pane takes up 0% of page width, changed with js to open pane*/
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1); /*pane bg colour*/
  overflow-x: hidden; /*menu wont make a scrollbar*/
  transition: 0.3s; /*animate js change*/
  padding-top: 4%; /*moves links down*/
}

.sideNavblur{
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;/*animate js change*/
  backdrop-filter: blur(5px);
}

.mouseout{ /*menu bar*/
  height: 100%; /*bar fills site verticly*/
  width: 5%; /*bar takes up 5% of page horizontally*/
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3); /*bar bg colour*/
  overflow-x: hidden; /*bar wont make a scrollbar*/
  transition: 0.3s;/*animate js change*/
}

.mouseoutBlur{
  height: 100%;
  width: 5%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;/*animate js change*/
  backdrop-filter: blur(10px);
}

.sidenav a{ /*menu pane links. can have gaps in text with alt 0160*/
  z-index: 2;
  padding: 0.8vw 0vw 1.2vw 25%; /*padding for links in menu, vw for fixed, % will animate as menu opens*/
  text-decoration: none; /*removes link styling*/
  font-size: 2.8vw; /*font size of links*/
  color: rgb(210, 210, 210); /*link colour*/
  display: block;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.sidenav a.active, .sidenav a:hover{
  color: #000000; /*link colour when active or hovered*/
}

.title{ /*body title*/
  font-size: 300%;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  color: rgba(255, 255, 255, 0.7); /*text colour*/
  margin: 1% 0% 1.5% 11%;
  font-weight: 400; /*not bold*/
}

.bodyText{ /*body text boxes*/
  border-radius: 20px; /*rounded corners*/
  background: rgba(255,255,255,0.4); /*box colour, behind the text*/
  padding: 2% 5% 2% 5%;
  width: 75%; /*box will fill up % of site width*/
  margin: 0% 0% 4vh 10%;
}

h2{ /*body text*/
  color: rgb(29, 29, 29);
  font-size: 100%;
}

.bodyImg{ /*body images*/
  float: left; /*image will be next to text*/
  margin: -2% 2% 2% -5%;
  width: 30vh;
}
/*top right bottom left*/

.hamburger{
  padding: 15% 0 0 20%;
  display: inline-block;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger-box{
  width: 3vw;
  height: 3vw;
  display: inline-block;
  position: relative;
}

.hamburger-inner{
  display: block;
  top: 50%;
  margin-top: -2px;
}

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    width: 3vw;
    height: 0.3vw;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

  .hamburger-inner::before, .hamburger-inner::after{
    content: "";
    display: block;
}

  .hamburger-inner::before{
    top: -1vw; /*bar padding*/
}

  .hamburger-inner::after{
    bottom: -1vw; /*bar padding*/
}

.hamburger--arrowalt .hamburger-inner::before{
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt .hamburger-inner::after{
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt.is-active .hamburger-inner::before{
  top: 0;
  transform: translate3d(-30%, -195%, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt.is-active .hamburger-inner::after{
  bottom: 0;
  transform: translate3d(-30%, 195%, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
