body {
  font-family: "Lato", sans-serif;
  background-image: url(nuke.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #7EC0EE;
}

.sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.mouseout{
  height: 100%;
  width: 5%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0%;
  background-color: rgba(255, 255, 255, 0.2); /*menu tab colour*/
  overflow-x: hidden;
  padding-top: 1%;
  transition: 0.5s;
  box-shadow: 10px 0px 15px 1px rgba(0,0,0,0.5);
}

.sidenav a {
  padding: 1% 8% 8% 25%; /*adjust*/
  text-decoration: none;
  font-size: 30px;
  color: #d3d3d3;
  display: block;
  transition: 0.5s;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.sidenav a:hover {
  color: #000000;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
p{
  font-size: 20px;
  padding: 1% 1% 1% 12%;/*top right bottom left*/
  color: #d3d3d3;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.bodyText{
  border-radius: 25px;
  background: rgba(255,255,255,0.6);
  padding: 5%;
  width: 60%;
  height: 30%;
  margin: 5% 15% 5% 15%;
  transition: 0.5s;
}
h2{
  color: #000000;
  /*padding: 1%;*/
  font-size: 20px;
}
